.mapContainer {
  position: relative;
}

.leafletMap {
  height: 90vh;
  width: 100%;
}

/* Style par défaut pour les pays */
.leaflet-interactive {
  fill: #cce5ff; /* Couleur de base des pays */
  stroke: #0066cc; /* Couleur de bordure */
  stroke-width: 1; /* Épaisseur de bordure */
}

/* Style au survol */
.hovered-country {
  fill: #66b2ff; /* Couleur au survol */
  stroke: #003366; /* Bordure au survol */
  stroke-width: 2; /* Bordure plus épaisse */
}

.hoverInfo {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
