/* Conteneur principal */
.map-container {
  position: relative;
}

/* Carte Leaflet */
.leaflet-map {
  height: 90vh;
  width: 100%;
}

/* Pays par défaut */
.leaflet-interactive {
  fill: #cce5ff; /* Couleur de fond des pays */
  stroke: #0066cc; /* Couleur des bordures */
  stroke-width: 1;
}

/* Pays au survol */
.leaflet-interactive:hover {
  fill: #66b2ff; /* Couleur survolée */
  stroke: #003366; /* Bordure survolée */
  stroke-width: 2;
}

/* Panneau d'information */
.hover-info {
  position: absolute;
  top: 70px; /* Ajustez pour qu'il soit sous les filtres */
  left: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.player-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Filtres dynamiques */
.filters {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1100; /* Priorité au-dessus de la carte et des autres éléments */
}

.filters label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
