.mapContainer {
  position: relative;
}

.leafletMap {
  height: 90vh;
  width: 100%;
}

.leaflet-interactive {
  fill: #cce5ff;
  stroke: #0066cc;
  stroke-width: 1;
}

.leaflet-interactive:hover {
  fill: #66b2ff;
  stroke: #003366;
  stroke-width: 2;
}

.hoverInfo {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
